<li class="mdl-list__item mdl-list__item--three-line">
  <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-avatar">lightbulb_outline</i>
    <span>
      <a class="mdl-list__item-link" href="{{ .Permalink }}">{{ .Title | title }}</a>
    </span>

    <span class="mdl-list__item-text-body">
      <time>{{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "02 Jan 2006, 15:04" }}{{ end }}</time>
    </span>
  </span>

  <span class="mdl-list__item-secondary-content">
    <div class="material-icons mdl-color-text--grey-700 mdl-badge mdl-badge--overlap"
         data-badge="{{ .WordCount }}">message</div>
  </span>
</li>
