{{ partial "header.html" . }}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--1-offset-tablet mdl-cell--2-offset-desktop">
    <ul class="mdl-list">
      {{ range .Paginator.Pages }}
        {{ if eq .Type "blog" }}
          {{ .Render "li"}}
        {{ end }}
      {{ end }}
    </ul>
  </div>
  <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--1-offset-tablet mdl-cell--2-offset-desktop mdl-typography--text-center">
    {{ partial "pagination.html" . }}
  </div>
</div>

    {{ partial "footer.html" . }}
