{{ partial "header.html" . }}

<div class="mdl-grid {{ .Type }}">
  <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--1-offset-tablet mdl-cell--2-offset-desktop">

    <article itemscope itemtype="http://schema.org/BlogPosting">
      <meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="{{ .Permalink }}">
      <header>
        <h2 class="mdl-typography--display-2" itemprop="headline">{{ .Title | title }}</h2>
        <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
          <img src="{{ .Site.BaseURL }}img{{ substr .RelPermalink 5 -1 }}.jpg" title="{{ .Title }}">
          <meta itemprop="url" content="{{ .Site.BaseURL }}img{{ substr .RelPermalink 5 -1 }}.jpg">
          <meta itemprop="width" content="600">
          <meta itemprop="height" content="400">
        </div>
        <span itemprop="description"><blockquote class="mdl-typography--caption mdl-typography--text-center">{{ .Description }}</blockquote></span>
      </header>
      <section id="article-content">
        {{ .Content }}
      </section>

      <footer>
        {{ partial "post_meta.html" . }}
        {{ partial "publisher.html" . }} 
      </footer>
    </article>
    {{ partial "prev_next_post.html" . }}
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
</div>
{{ partial "footer.html" . }}
