<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body class="{{ if .IsPage }}{{ .Type }}{{ else}}{{ if .IsHome }}home{{else}}{{ substr .Title 0 15 | lower }}{{end}}{{end}}">
<div class="mdl-layout mdl-js-layout" id="mdl-layout">

  <header class="mdl-layout__header mdl-layout__header-fixed mdl-color--grey-100 mdl-color--white mdl-layout__header--{{ if .IsHome }}seamed{{else}}seamed{{end}}">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title"><a href="/">{{ .Site.Title }}</a></span>
      <div class="mdl-layout-spacer"></div>
      {{ partial "navigation.html" . }}
    </div>
  </header>

    {{ partial "sidemenu.html" . }}

  <main class="mdl-layout__content">
