<nav class="mdl-navigation">
  {{ range .Site.Menus.main }}
  <a class="mdl-navigation__link" alt="{{ .Name }}" href="{{ .URL }}">
    {{ .Pre }}
    <span class="mdl-navigation__link-text">{{ .Name }}</span>
  </a>
  {{end}}
</nav>
