{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="pagination" role="pagination">
  {{ if .Paginator.HasPrev }}
  <a href="{{ .Paginator.Prev.URL }}"><i class="material-icon">left_arrow</i></a>
  {{ end }}
  <span>{{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}</span>
  {{ if .Paginator.HasNext }}
  <a href="{{ .Paginator.Next.URL }}"><i class="material-icon">right_arrow</i></a>
  {{ end }}
</nav>
{{ end }}
