<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
  <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
    <img style="display:none" src="/img/cortex.jpg"/>
    <meta itemprop="url" content="{{ .Site.BaseURL }}img/cortex.jpg">
    <meta itemprop="width" content="125">
    <meta itemprop="height" content="125">
  </div>
  <meta itemprop="name" content="{{ .Site.Title }}">
</div>
