
    <li >
      <a itemprop="sameAs" href="{{ .Site.BaseURL }}index.xml" alt="RSS"><i class="fa fa-rss fa-fw"></i></a>
    </li>

    <!-- SNS microblogging -->

    {{ with .Site.Social.twitter }}
    <li >
      <a itemprop="sameAs" href="https://twitter.com/{{ . }}" target="_blank" alt="Twitter"><i class="fa fa-twitter-square fa-fw"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Social.facebook }}
    <li >
      <a itemprop="sameAs" href="https://facebook.com/{{ . }}" target="_blank" alt="Facebook"><i class="fa fa-facebook-square fa-fw"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Social.googleplus }}
    <li >
      <a itemprop="sameAs" href="https://plus.google.com/+{{ . }}" target="_blank" alt="Google+"><i class="fa fa-google-plus-square fa-fw"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Social.weibo }}
    <li >
      <a itemprop="sameAs" href="http://weibo.com/{{ . }}" target="_blank" alt="Weibo"><i class="fa fa-weibo fa-fw"></i></a>
    </li>
    {{ end }}

    <!-- SNS photo/video sharing -->

    {{ with .Site.Social.instagram }}
    <li >
      <a itemprop="sameAs" href="https://instagram.com/{{ . }}" target="_blank" alt="Instagram"><i class="fa fa-instagram fa-fw"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Social.flickr }}
    <li >
      <a itemprop="sameAs" href="https://flickr.com/photos/{{ . }}" target="_blank" alt="Flickr"><i class="fa fa-flickr fa-fw"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Social.pinterest }}
    <li >
      <a itemprop="sameAs" href="https://pinterest.com/{{ . }}" target="_blank"><i class="fa fa-pinterest-square fa-fw"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Social.youtube }}
    <li >
      <a itemprop="sameAs" href="https://youtube.com/user/{{ . }}" target="_blank"><i class="fa fa-youtube-square fa-fw"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Social.vimeo }}
    <li >
      <a itemprop="sameAs" href="https://vimeo.com/{{ . }}" target="_blank"><i class="fa fa-vimeo-square fa-fw"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Social.vine }}
    <li >
      <a itemprop="sameAs" href="https://vine.co/{{ . }}" target="_blank"><i class="fa fa-vine fa-fw"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Social.slideshare }}
    <li >
      <a itemprop="sameAs" href="http://slideshare.net/{{ . }}" target="_blank"><i class="fa fa-slideshare fa-fw"></i></a>
    </li>
    {{ end }}

    <!-- SNS career oriented -->

    {{ with .Site.Social.linkedin }}
    <li >
      <a itemprop="sameAs" href="https://linkedin.com/in/{{ . }}" target="_blank"><i class="fa fa-linkedin-square fa-fw"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Social.xing }}
    <li >
      <a itemprop="sameAs" href="https://xing.com/profile/{{ . }}" target="_blank"><i class="fa fa-xing-square fa-fw"></i></a>
    </li>
    {{ end }}

    <!-- SNS news -->

    {{ with .Site.Social.reddit }}
    <li >
      <a itemprop="sameAs" href="https://reddit.com/user/{{ . }}" target="_blank"><i class="fa fa-reddit-square fa-fw"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Social.hackernews }}
    <li >
      <a itemprop="sameAs" href="https://news.ycombinator.com/user?id={{ . }}" target="_blank" alt="Hacker News"><i class="fa fa-hacker-news fa-fw"></i></a>
    </li>
    {{ end }}

    <!-- Techie -->

    {{ with .Site.Social.github }}
    <li >
      <a itemprop="sameAs" href="https://github.com/{{ . }}" target="_blank"><i class="fa fa-github-square fa-fw"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Social.bitbucket }}
    <li >
      <a itemprop="sameAs" href="https:////bitbucket.org/{{ . }}" target="_blank"><i class="fa fa-bitbucket-square fa-fw"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Social.stackoverflow }}
    <li >
      <a itemprop="sameAs" href="https://stackoverflow.com/users/{{ . }}" target="_blank"><i class="fa fa-stack-overflow fa-fw"></i></a>
    </li>
    {{ end }}

